.profile__edit-button{
    background-image: url(../../../images/Edit-Button.svg);
    background-size: contain;
    padding: 0px;
    margin: 0px 0px 0px 16px;
    width: 24px;
    height: 24px;
    border: none;
}

@media screen and (max-width:768px) {
    .profile__edit-button{
        margin: 0px 0px 0px 10px;
        padding: 0px;
        width: 16px;
        height: 16px;
    }
}

.profile__edit-button:hover{
    opacity: 0.6;
    transition: opacity 0.2s linear;
    cursor: pointer;
}
