.profile__page-autor{
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
}

@media screen and (max-width:768px){
    .profile__page-autor{
        flex-flow: column;
    }
}
