.profile__avatar{
    width: 120px;
    height: 120px;
    padding: 0px;
    margin: 0px;
    border-radius: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:768px) {
    .profile__avatar{
        padding: 0px;
        margin: 0px 0px 26px 0px;
    }
}